/me.txt
/.idea/
/assets/withdraws-680278-2018-05-07.csv
/src/com/shpp/p2p/cs/a/lectures/
/src/com/shpp/p2p/cs/astavyts/midExam/
/src/com/shpp/p2p/cs/bbaranyuk/MidExam/
/src/com/shpp/p2p/cs/dleskevich/assignment7/namesurfer/
/src/com/shpp/p2p/cs/esivachenko/
/src/com/shpp/p2p/cs/nfedorova/
/src/com/shpp/p2p/cs/inaydenov/assignment3/
/src/com/shpp/p2p/cs/opolevin/assignment2/
/src/com/shpp/p2p/cs/oshovenko/
/src/com/shpp/p2p/cs/vbelyi/
/src/com/shpp/p2p/cs/verification/
/src/com/shpp/p2p/cs/etrebunskih/
/karel-the-robot-learns-java.pdf
/shpp-cs-java-lib.jar
/shpp-karel-lib.jar
/out/
